@keyframes jello {
  11.1% {
    transform: skewX(1.5625deg) skewY(1.5625deg); 
  }
  33.3% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); 
  }
  66.6% {
    transform: skewX(0.390625deg) skewY(0.390625deg); 
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); 
  } 
}

.comingsoon{
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  @media #{$bp-xs}{
    font-size: 1.5rem;
  }
}

.thumbnail{
  position: relative;
  a{
    text-decoration: none;
  }
  &__title{
    font-size: 2.2rem;
    font-weight: normal;  
    margin-top: 0.5rem;
    @media #{$bp-xs}{
      font-size: 1.5rem;
    }
  }
  div{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 66.66%;
    img{
      position: absolute;
      transform: translate3d(0,0,0);
      // transition: transform 1s ease-out;
    }
  }
  &:hover{
    img{
      animation-name: jello;
      transform-origin: center;
      animation-duration: 400ms;
      animation-fill-mode: both;
    }
  }
}

.archive{
  &__title{
    position: fixed;
    background-color: white;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 4.6rem;
    text-align: center;
    line-height: 7rem;
    text-transform: uppercase;
    @include SERIF;
    @media #{$bp-xs}{
      font-size: 2.3rem;
      line-height: 4rem;
    }
  }

  .content{
    padding-bottom: 10rem;
  }
}