.nav{
  @include SERIF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  text-transform: uppercase;
  font-size: 4.6rem;
  text-align: center;
  line-height: 10rem;

  @media #{$bp-xs}{
    font-size: 2.8rem;
    line-height: 5rem;
  }

  &__wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: opacity .3s ease;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .3s, opacity .3s ease;

    .nav--opened &{
      opacity: 1;
      visibility: visible;
      transition: visibility 0s linear 0s, opacity .3s ease;
    }
  }

  ul{
    list-style: none;

  }

  &__burger{
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    cursor: pointer;
    z-index: 10;
    @media #{$bp-xs}{
      left: 1rem;
      top: .5rem;
      transform: scale(0.6);
    }

    div{
      height: 2px;
      width: 43px;
      margin: 12px 0;
      background: black;
      border-radius: 2px;
      transition: all .3s ease;

    }

    .nav--opened &{
      div{
        &:nth-child(1){
          transform: translateY(14px) rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: translateY(-14px) rotate(-45deg);
        }
      }
    }
  }

  &__logo{
    width: 50%;
    max-width: 34.9rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 2rem;
    z-index: 10;
    transform: translate3d(-50%,0,0);

  }

  &__menu{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    .sub-menu{
      font-size: 2.5rem;
      line-height: 6rem;
      padding: 1rem 0;

      @media #{$bp-xs}{
        font-size: 1.6rem;
        line-height: 4rem;
      }

      &-wrap{
        height: 0;
        overflow: hidden;
        transition: height .5s ease;
      }
    }
  }

  &__gcc{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}