.single{
  &__list{
    position: relative;
    width: 100%;
    height: calc( 100vh - 15.5rem - 12rem );
    li{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      img{
        display: block;
        height: 100%;
        width: auto;
        height: calc( 100vh - 15.5rem - 12rem );
      }
    }
  }

  &__back{
    position: absolute;
  }

  &__description{
    height: 12rem;
    padding-top: 3.5rem;
    text-align: center;
  }
}