html{
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 40%;
  background-color: white;
  @include SANSSERIF;
  text-size-adjust: 100%;
  letter-spacing: -0.2;
}

@media screen and (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 64em) {
  html {
    font-size: 40%;
  }
}

@media screen and (min-width: 82em) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
}

::selection {
  background: #000000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000000; /* Gecko Browsers */
}

*{
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  // user-select :none !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
  outline: none !important;
}

main{
  padding-top: 15.5rem;
  @media #{$bp-xs}{
    padding-top: 10rem;
  }
}

img{
  display: block;
}

.wrapper{
  width: calc( 100% - 44px );
  max-width: 1600px;
  margin: 0 auto;
  @media #{$bp-xs}{
    width: 94%;
  }
}

.rs{
  width: 100%;
  height: auto;
}