.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media #{$bp-xs-up}{
    &-4{
      .col{
        width: 24%;
      }
    }
    &-3{
      .col{
        width: 32.333%;
      }
    }
    &-2{
      .col{
        width: 49%;
      }
    }
  }

  @media #{$bp-xs}{
    .col{
      width: 100%;
      &-first{
        order: -1;
      }
    } 
  }

  article{
    margin-bottom: 2rem;
  }
}

.thumbnail{
  &__title{
    font-size: 2.2rem;
    font-weight: normal;  
    margin-top: 0.5rem;
    @media #{$bp-xs}{
      font-size: 1.5rem;
    }
  }
}